{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">How are coronaviruses diagnosed?</h2>
          <p class="leading-relaxed mb-8">
             COVID-19 can be diagnosed similarly to other conditions caused by viral infections: using a blood, saliva, or tissue sample. However, most tests use a cotton swab to retrieve a sample from the inside of your nostrils.<br>
              The CDC, some state health departments, and some commercial companies conduct tests. See your state’s  websiteTrusted Source to find out where testing is offered near you.<br>
              On April 21, the Food and Drug Administration (FDA) approved the use of the first COVID-19 home testing kit.<br>
              Using the cotton swab provided, people will be able to collect a nasal sample and mail it to a designated laboratory for testing.

The emergency-use authorization specifies that the test kit is authorized for use by people whom healthcare professionals have identified as having suspected COVID-19.

Talk to your doctor right away if you think you have COVID-19 or you notice symptoms.Your doctor will advise you on whether you should:
              <li>stay home and monitor your symptoms</li>
          <li>come into the doctor’s office to be evaluated</li>
          <li>go to the hospital for more urgent care</li>
          </p>

          <br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">Who’s at increased risk?</h2>
            <p class="leading-relaxed mb-8">
                You’re at high risk for contracting SARS-CoV-2 if you come into contact with someone who’s carrying it, especially if you’ve been exposed to their saliva or been near them when they’ve coughed, sneezed, or talked. Without taking proper preventive measures, you’re also at high risk if you:
                <li>live with someone who has contracted the virus</li>
          <li>are providing home care for someone who has contracted the virus</li>
          <li>have an intimate partner who has contracted the virus</li>
          <br>
          Older adults and people with certain health conditions have a higher risk for severe complications if they contract the virus. These health conditions include:
          <li>lung conditions, such as COPD and asthma</li>
          <li>certain heart conditions</li>
          <li>immune system conditions, such as HIV</li>
          <li>cancer that requires treatment</li>
          <li>severe obesity</li>
          <li>other health conditions, if not well-managed, such as diabetes, kidney disease, or liver disease</li><br>
          Pregnant women have a higher risk of complications from other viral infections, but it’s not yet known if this is the case with COVID-19.
          The CDC states that pregnant people seem to have the same risk of contracting the virus as adults who aren’t pregnant. Transmitting the virus from mother to child during pregnancy isn’t likely, but the newborn is able to contract the virus after birth.
            </p>
<br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What treatments are available?</h2>
          <p class="leading-relaxed mb-8">There’s currently no treatment specifically approved for COVID-19, and no cure for an infection, although treatments and vaccines are currently under study.

Instead, treatment focuses on managing symptoms as the virus runs its course.

Seek medical help if you think you have COVID-19. Your doctor will recommend treatment for any symptoms or complications that develop and let you know if you need to seek emergency treatment.
Other coronaviruses like SARS and MERS are also treated by managing symptoms. In some cases, experimental treatments have been tested to see how effective they are.
Examples of therapies used for these illnesses include:
              <li>antiviral or retroviral medications</li>
          <li>breathing support, such as mechanical ventilation</li>
          <li>steroids to reduce lung swelling</li>
          <li>blood plasma transfusions</li>
          </p>
          <br>

          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What are the possible complications from COVID-19?</h2>
          <p class="leading-relaxed mb-8">
           The most serious complication of COVID-19 is a type of pneumonia that’s been called 2019 novel coronavirus-infected pneumonia (NCIP).

Results from a 2020 study of 138 people admitted into hospitals in Wuhan, China, with NCIP, found that 26 percent of those admitted had severe cases and needed to be treated in the intensive care unit (ICU).

About 4.3 percent of the people who were admitted to the ICU died from this type of pneumonia.

It should be noted that people who were admitted to the ICU were on average older and had more underlying health conditions than people who didn’t go to the ICU.

So far, NCIP is the only complication specifically linked to the 2019 coronavirus. Researchers have seen the following complications in people who have developed COVID-19:
              <li>acute respiratory distress syndrome (ARDS)</li>
          <li>irregular heart rate (arrhythmia)</li>
          <li>cardiovascular shock</li>
          <li>severe muscle pain (myalgia)</li>
          <li>fatigue</li>
          <li>heart damage or heart attack</li>

          </p>
          <br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">How can you prevent coronaviruses?</h2>
          <p class="leading-relaxed mb-8">
              The best way to prevent the transmission of infection is to avoid or limit contact with people who are showing symptoms of COVID-19 or any respiratory infection.
              The next best thing you can do is practice good hygiene and physical distancing to prevent bacteria and viruses from being transmitted.
          <li>Wash your hands frequently for at least 20 seconds at a time with warm water and soap. How long is 20 seconds? About as long as it takes to sing your “ABCs.”</li>
          <li>Don’t touch your face, eyes, nose, or mouth when your hands are dirty.</li>
          <li>Don’t go out if you’re feeling sick or have any cold or flu symptoms.</li>
          <li>Stay at least 6 feetTrusted Source (2 meters) away from people.</li>
          <li>Cover your mouth with a tissue or the inside of your elbow whenever you sneeze or cough. Throw away any tissues you use right away.</li>
          <li>Clean any objects you touch a lot. Use disinfectants on objects like phones, computers, and doorknobs. Use soap and water for objects that you cook or eat with, like utensils and dishware.</li>

          </p>
            <br>

          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">Should you wear a mask?</h2>
            <p class="leading-relaxed mb-8">If you’re out in a public setting where it’s difficult to follow physical distancing guidelines, the CDC recommends that you wear a cloth face mask that covers your mouth and nose.
            When worn correctly, and by large percentages of the public, these masks can help to slow the transmission of SARS-CoV2.<br>

That’s because they can block the respiratory droplets of people who may be asymptomatic or people who have the virus but have gone undiagnosed.
Respiratory droplets get into the air when you:

          <li>exhale</li>
          <li>talk</li>
          <li>cough</li>
          <li>sneeze</li>
          <br>
          You can <u><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html">make your own mask</a></u>using basic materials such as:

<li>a bandana</li>
<li>a T-shirt</li>
<li>cotton fabric</li>
          <br>
          The CDC provides <u><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html">instructions</a></u> for making a mask with scissors or with a sewing machine.
Cloth masks are preferred for the general public since <u><a href="https://www.healthline.com/health/coronavirus-mask">other types of masks</a></u> should be reserved for healthcare workers.
          It’s critical to keep the mask clean. Wash it each time you use it. Avoid touching the front of it with your hands. Also, try to avoid touching your mouth, nose, and eyes when you remove it.

This prevents you from possibly transferring the virus from a mask to your hands and from your hands to your face.

Keep in mind that wearing a mask isn’t a replacement for other preventive measures, such as frequent handwashing and practicing physical distancing. All of them are important.

Certain people shouldn’t wear face masks, including:
          <li>children under 2 years old</li>
          <li>people who have trouble breathing</li>
          <li>people who are unable to remove their own masks</li>
            </p>
      </div>
  </div>
</section>

{% endblock %}
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4"></h2>

<p class="leading-relaxed mb-8"></p>