{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
      <h2 class="sm:text-4xl text-2xl title-font font-medium text-black  ">Corona In India</h2>
        <p class="sm:text-1xl" >On 30 January, India reported its first case of COVID-19 in Kerala. Over the month of March, multiple states across the country began shutting down schools, colleges, public facilities such as malls, gyms, cinema halls and other public places to contain the spread. 
		the Government of India announced complete lockdown in 82 districts in 22 states and Union Territories of country where confirmed cases were reported. </p>
        <br>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Religious tourism and weddings: potential coronavirus clusters in India</h2>
      <p class="sm:text-1xl" >Places of religious gathering such as temples, mosques and churches can be clusters for coronavirus transmission in India, where religious tourism is high and community gatherings for celebrating festivals are huge. ISKCON, one of the popular Hindu religious organisations running temples that attract foreign devotees, is reported to have advised foreigners from the coronavirus-affected countries not to visit for two months, as a precautionary measure.
		  Agra, another popular hotspot for tourists including foreigners, is a potential cluster. One more potential coronavirus cluster in India is weddings where the average guest counts run from few hundreds to more than a thousand.</p>
<br>
		 <h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Coronavirus cases in India: Confirmed, suspected and recovered</h2>
		  <p class="sm:text-1xl" >Thousands of suspected cases have been tested resulting in more than 2,000 confirmed coronavirus cases in India. The regions with the highest number of cases include Maharastra, Kerala, Delhi, Karnataka, Andhra Pradesh, Uttar Pradesh, Rajasthan and Tamil Nadu.
		  <p class="sm:text-1xl" >Two cases were reported in Nagpur, Maharashtra, on 13 March. An employee of Google in Bangalore tested positive on 13 March, while a COVID-19 positive case was confirmed in Noida on the same day.</p>

First death due to coronavirus in India was reported in Karnataka on 12 March. A total of 52 deaths have been reported in the country.</p>
<br>
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Coronavirus disease in India: Approved treatments</h2>
	<p class="sm:text-1xl" >The Drug Controller General of India has granted approval to the Indian Council of Medical Research to use a combination of lopinavir and ritonavir in the event of the coronavirus disease in India turns into a public health emergency, reported the Economic Times.</p>
	<p class="sm:text-1xl" >Lopinavir and ritonavir have already been approved for the treatment of HIV.</p>
	<br>
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">COVID-19: Measures India has taken to control the Wuhan coronavirus spread.</h2>
		<p class="sm:text-1xl" >The Indian government has announced a number of preventive measures to minimise the entry and spread of coronavirus, as detailed below. A control room operational 24×7 to address queries has been launched.</p>
		<p class="sm:text-1xl" >India’s prime minister Narendra Modi has appealed to Indians to avoid mass gatherings. He requested all citizens to observe a nation-wide curfew or janta curfew on 22 March from 7 am to 9 pm. People were urged to not leave the house on that day unless for emergencies. The citizen curfew was a precursor to the nation-wide lock-down announced on 26 March.</p>
				<br>
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Nation-wide lock-down</h2>
		<p class="sm:text-1xl" >A 21-day lock-down across the country was imposed from 26 March to 14 April to curb the spread of the coronavirus pandemic.</p>
		<p class="sm:text-1xl" >All factories, schools, colleges, offices and transportation services have been closed, while essential services such as supermarkets, and pharmacies remain open.</p>
				<br>
					<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Government announces stimulus package</h2>
					<p class="sm:text-1xl" >The Indian government announced a $22.6bn stimulus package to aid the poor who are affected by the coronavirus outbreak.</p>
					<p class="sm:text-1xl" >The government also plans to provide wheat, rice and pulses free of cost to approximately 800 low-income families over the next three months. Further, cooking-gas cylinders will be provided to 83 million poor families and a $13.31 cash-transfer will be provided to 30 million senior citizens. The government will provide $6.65 per month to approximately 200 million poor women for three months.</p>
					<p class="sm:text-1xl" >Medical insurance worth five million rupees ($66,000) will be provided for healthcare workers including doctors, nurses and paramedics.</p>
						<br>
							<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Coronavirus screening, testing and quarantining at Indian airports.</h2>
							<p class="sm:text-1xl" >Starting from 04 March, India mandated universal screening at all airports in the country given the rise in coronavirus imports.</p>
							<p class="sm:text-1xl" >Thermal screening has been installed at 21 airports including those in Delhi, Mumbai, Kolkata, Chennai, Bengaluru, Hyderabad, and Cochin to check for coronavirus in India. Universal screening has been mandated for flights from China, Hong Kong, Singapore and Thailand at the aero-bridges ear-marked for the purpose.</p>
							<p class="sm:text-1xl" >Screening measures have also been implemented at 12 major seaports and 65 minor seaports and land borders.</p>
							<p class="sm:text-1xl" >The Ministry of Health announced on 06 February that all 645 evacuees from Wuhan tested negative.</p>
							<p class="sm:text-1xl" >Two quarantine centres have been set-up to isolate any passengers showing symptoms of the infection. One centre is located at Manesar, Haryana, and is managed by Armed Forces Medical Services, while the second is located at Chawla Camp in New Delhi and is managed by Indo-Tibetan Border Police (ITBP).</p>
							<p class="sm:text-1xl" >A total of 406 evacuees who were quarantined at the ITBP facility were discharged and allowed to return home on 19 February.

														By 14 March, India screened approximately 1.2 million visitors.</p>
								<br>
										<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Labs testing for coronavirus in India</h2>
										<p class="sm:text-1xl" >The NIV and 52 other laboratories under the Indian Council of Medical Research’s (ICMR) Viral Research and Diagnostics Laboratories network are equipped to test samples</p>
										<p class="sm:text-1xl" >The National Institute of Virology lab in Pune is serving as the nodal lab for coronavirus testing in India. The Pune lab has facilities for COVID-19 molecular diagnosis and next-generation sequencing.</p>
										<p class="sm:text-1xl" >The labs are equipped with reagents to test up to 25,000 samples. The Indian government is in the process of adding more coronavirus testing laboratories in the country.</p>
											<br>
												<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Impact of coronavirus on India</h2>
												<p class="sm:text-1xl" >Coronavirus is expected to present both opportunities and challenges to Indian pharmaceutical manufacturers, while trade with China is expected to be hitInitial estimates of the impact of coronavirus on India’s trade were $348m, but likely to increase given the global spread.</p>
													<br>
														<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">How the COVID-19 outbreak impacts the Indian pharmaceutical industry</h2>
														<p class="sm:text-1xl" >Bulk drugs and drug intermediates accounted for $1.5bn or 3% of India’s imports from China.According to the Trade Promotion Council of India, approximately 85% of active pharmaceutical ingredients (APIs) imported by Indian companies are from China.</p>
														<p class="sm:text-1xl" >India’s overdependence on China for APIs exposes it to raw material supply disruption and price volatility. Another major hindrance to the Indian pharmaceutical industry is its low capacity utilisation, according to a report from the Ministry of Commerce and Industry (MCI). India has a capacity utilisation between 30% and 40% as against 75% of China.</p>
														<p class="sm:text-1xl" >Mankind Pharma and Granules India are airlifting APIs and other input materials for their manufacturing due to limited land movements and shipping delays from China as inventories are drying up, reported Economic Times.</p>
															<br>
																<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Export ban on protection equipment</h2>
																<p class="sm:text-1xl" >The DGFT issued a ban on the export of personal protection equipment such as respiratory masks and protective overalls, on 31 January. The exact reason for the ban has not been notified, though.</p>
																	 <br>
																	 
																			
										<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">India Economy Afactef By CoronaVirus</h2>
											<p class="sm:text-1xl" >According to the survey, COVID-19 is having a 'deep impact' on Indian businesses, over the coming month's jobs are at high risk because firms are looking for some reduction in manpower. Further, it is added that already COVID-19 crisis has caused an unprecedented collapse in economic activities over the last few weeks.</p>
											<p class="sm:text-1xl" >The present situation is having a "high to very high" level impact on their business according to almost 72 per cent respondents. Further, 70 per cent of the surveyed firms are expecting a degrowth sales in the fiscal year 2020-21.</p>
											<p class="sm:text-1xl" >Ficci said in a statement, "The survey clearly highlights that unless a substantive economic package is announced by the government immediately, we could see a permanent impairment of a large section of the industry, which may lose the opportunity to come back to life again."</p>
											<p class="sm:text-1xl" >The survey found:</p>
											<li>In respect to the approved expansion plans, around 61 per cent of the respondents expect to postpone such expansions for a period of up to 6 or 12 months, while 33 per cent expect it to for more than 12 months.
											<li>Surveyed firms of around 60 per cent have postponed their fund-raising plans for the next 6-12 months. Also, nearly 25 per cent of the firms have decided the same.
											<li>Surveyed firms around 43 per cent have reported that they do not predict an impact on exports. Further, 34 per cent said that exports would take a hit by more than 10 per cent.
												<br>
											<p class="sm:text-1xl" >According to Du  & Bradstreet, COVID-19 no doubt disrupted human lives and global supply chain but the pandemic is a severe demand shock which has offset the green shoots of recovery of the Indian economy that was visible towards the end of 2019 and early 2020. The revised Gross Domestic Product (GDP) estimates for India downwards by 0.2 percentage points for the fiscal year 2020 to 4.8 per cent and by 0.5 per cent for the fiscal year 2021 to 6 per cent. Further, it is stated that the extent of the actual impact will depend upon the severity and duration of the outbreak.</p>
											
												<br>
											
											<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">IMF says India will remain the ‘fastest growing major economy in 2020’. But one must remember that the Covid onslaught is only at an early stage in India.</h2>
		  									<p>
											<li>Annual GDP ($ billion)*: 2,718.73</li>
											<li>GDP growth in 2019 (%)*: 4.70</li>
											<li>Covid cases/Million^: 8</li>
											<li>Covid deaths/Million^: 241</li>
											<li>Total Mcap ($ BN)**: 2,046.90</li>
											<li>Mcap/GDP**: 0.74</li>
											<li>Exp GDP Growth (JAN)#: 1.30</li>
											<li>Exp GDP Growth (APR)#: -7.20</li>
		  <li>Benchmark index PE**: 16.41</li></p>


	  </div>
  </div>
</section>

{% endblock %}