{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">Why is a coronavirus vaccine important?</h2>
        <p class="leading-relaxed mb-8">The virus spreads easily and the majority of the world's population is still vulnerable to it. A vaccine would provide some protection by training people's immune systems to fight the virus so they should not become sick.<br>
        This would allow lockdowns to be lifted more safely, and social distancing to be relaxed.</p>

         <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What sort of progress is being made?</h2>
          <p class="leading-relaxed mb-8">
              Research is happening at breakneck speed. About 80 groups around the world are researching vaccines and some are now entering clinical trials.
          <li>The first human trial data appears positive showing the first eight patients all produced antibodies that could neutralise the virus.</li>
            <li>In Oxford, the first human trial in Europe has started with more than 800 recruits and have signed a deal with AstraZeneca to supply 100 million doses (30 million for the UK) if it works</li>
          <li>Pharmaceutical giants Sanofi and GSK have teamed up to develop a vaccine</li>
          <li>Australian scientists have begun injecting ferrets with two potential vaccines. It is the first comprehensive pre-clinical trial involving animals, and the researchers hope to test humans by the end of April</li>
          <br>However, no-one know how effective any of these vaccines will be.</p>

          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">When will we have a coronavirus vaccine?</h2>
          <p class="leading-relaxed mb-8">
              A vaccine would normally take years, if not decades, to develop. Researchers hope to achieve the same amount of work in only a few months.
              Most experts think a vaccine is likely to become available by mid-2021, about 12-18 months after the new virus, known officially as Sars-CoV-2, first emerged.
              That would be a huge scientific feat and there are no guarantees it will work.
              Four coronaviruses already circulate in human beings. They cause common cold symptoms and we don't have vaccines for any of them.

          </p>

          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What still needs to be done?</h2>
          <p class="leading-relaxed mb-8">
              Multiple research groups have designed potential vaccines, however, there is much more work to do.<br>
              <li>Trials need to show the vaccine is safe. It would not be useful if it caused more problems than the disease
</li>
          <li>Clinical trials will also need to show the vaccine provokes an immune response which would protect people from getting sick
</li>
          <li>A way of producing the vaccine on a huge scale must be developed for the billions of potential doses
</li>
<li>Medicines regulators must approve it before it can be given</li>
<li>Finally there will be the huge logistical challenge of actually inoculating most of the world's population
</li>
         <br> Lockdowns could make this process slower. If fewer people are infected, it will take longer to know whether a vaccine actually works.<br>
The idea of giving people the vaccine and then deliberately infecting them (known as a challenge study) would give quicker answers, but is seen as too dangerous while there is no known treatment.
          </p>
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">How many people need to be vaccinated?</h2>
<p class="leading-relaxed mb-8">
It is hard to know without knowing how effective the vaccine is going to be.<br>
It is thought that 60-70% of people needed to be immune to the virus in order to stop it spreading easily (known as herd immunity).<br>
But that would be billions of people around the world if the vaccine worked perfectly.
</p>
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">How do you create a vaccine?</h2>
<p class="leading-relaxed mb-8">
   Vaccines harmlessly show viruses or bacteria (or even small parts of them) to the immune system. The body's defences recognise them as an invader and learn how to fight them.<br>
Then if the body is ever exposed for real, it already knows what to do.<br>
The main method of vaccination for decades has been to use the original virus.<br>
The measles, mumps and rubella (MMR) vaccine is made by using weakened viruses that cannot cause a full-blown infection. The seasonal flu jab takes the main strains of flu doing the rounds and completely disables them.
The work on a new coronavirus vaccine is using newer, and less tested, approaches called "plug and play" vaccines. Because we know the genetic code of the new coronavirus, Sars-CoV-2, we have the complete blueprint for building it.<br>
Researchers in Oxford have put small sections of its genetic code into a harmless virus that infects chimpanzees. They hope they have developed a safe virus that looks enough like the coronavirus to produce an immune response.<br>
Other groups are using pieces of raw genetic code (either DNA or RNA depending on the approach) which, once injected into the body, should start producing bits of viral proteins which the immune system again can learn to fight.
</p>
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">Would a vaccine protect people of all ages?</h2>
<p class="leading-relaxed mb-8">
  It will, almost inevitably, be less successful in older people, because aged immune systems do not respond as well to immunisation. We see this with the annual flu jab.
It may be possible to overcome this by either giving multiple doses or giving it alongside a chemical (called an adjuvant) that gives the immune system a boost.
</p>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">Who would get a vaccine?</h2>
<p class="leading-relaxed mb-8">
    If a vaccine is developed, then there will be a limited supply, at least initially, so it will be important to prioritise.
Healthcare workers who come into contact with Covid-19 patients would top the list. The disease is most deadly in older people so they would be a priority if the vaccine was effective in this age group.
However, it might be better to vaccinate those who live with or care for the elderly instead.
</p>


      </div>
  </div>
</section>

{% endblock %}
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4"></h2>
<p class="leading-relaxed mb-8"></p>




