{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What are the other types of coronaviruses?</h2>
        <p class="leading-relaxed mb-8">
            A coronavirus gets its name from the way it looks under a microscope.

The word corona means “crown.”

When examined closely, the round virus has a “crown” of proteins called peplomers jutting out from its center in every direction. These proteins help the virus identify whether it can infect its host.
          The condition known as severe acute respiratory syndrome (SARS) was also linked to a highly infectious coronavirus back in the early 2000s. The SARS virus has since been contained.
        </p>
          <br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">COVID-19 vs. SARS</h2>
          <p class="leading-relaxed mb-8">
              This isn’t the first time a coronavirus has made news. The 2003 SARS outbreak was also caused by a coronavirus.

As with the 2019 virus, the SARS virus was first found in animals before it was transmitted to humans.

The SARS virus is thought to have come from bats and was transferred to another animal and then to humans.

Once transmitted to humans, the SARS virus began spreading quickly among people.

What makes the new coronavirus so newsworthy is that a treatment or cure hasn’t yet been developed to help prevent its rapid transmission from person to person.

SARS has been successfully contained.
          </p>
          <br>
      </div>
  </div>
</section>

{% endblock %}
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4"></h2>
          <p class="leading-relaxed mb-8"></p>
          <br>