{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
      <h2 class="sm:text-4xl text-2xl title-font font-medium text-black  ">Corona In World</h2>
        <p class="sm:text-1xl" >More than 200 countries/regions have reported confirmed COVID-19 cases, including China, Italy, Iran, S. Korea, India, Switzerland, Taiwan, USA, Sweden, Singapore, Sri Lanka, France, Australia, Malaysia, Spain, United Arab Emirates, UK, Nepal, Finland, Netherlands, Japan, Belgium, Russia, Thailand, Philippines, Cambodia, and Germany. After hitting China in January 2020, COVID-19 severely out broke in countries like South Korea, Iran, and Italy in late February and early March, 2020.</p>
         <p class="sm:text-1xl" >Hard-hit cities like Wuhan, where the outbreak began, went into complete lockdown. Millions worked from home or self-quarantined for weeks on end. New hospitals were built in a matter of days to treat the sheer number of patients. People who broke quarantine rules or lied about their travel history were detained.</p>
		 <br>
	   <h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">the Covid-19 crisis has spread abroad, with alarming new clusters of the disease in the Following countries :-</h2>
	   
		  <li>The United States</li>
			<li>Italy, Europe and the UK</li>
			<li>Asia-Pacific region</li>
			<li>Iran and the Middle East</li>
			<li>Africa and Latin America</li>
			<br>

			
		 <h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">The United States</h2>
			      <p class="sm:text-1xl" >The US now has 126 coronavirus cases and nine deaths, with the majority of infections in California and Washington states.</p>
				  <p class="sm:text-1xl" >Many cities across the country, including San Francisco and Seattle, and even entire states like Washington, have declared states of emergency. This allows the local and state authorities greater access to emergency resources and funding in preparation for a bigger outbreak.</p>
				  <p class="sm:text-1xl" >Federal agencies are also working on a response: the US military says military labs are working on a vaccine, while the US Food and Drug Administration (FDA) just authorized health care workers to use a wider variety of respirators, giving them greater flexibility as face mask supplies run low</p>
				  <p class="sm:text-1xl" >However, the government has also hit snags. There are widespread concerns about the accessibility of testing kits, while a botched roll-out of US Centers for Disease Control (CDC) testing, and strict criteria on who could be examined, caused a delay in testing. The US has only been able to perform about 3,600 tests so far -- especially striking when compared to countries like South Korea and in Europe, where thousands of tests are being run daily.</p>
				  <p class="sm:text-1xl" >The FDA commissioner initially said the US should be able to perform about 1 million tests by the end of this week -- but clarified later that there was a difference between the ability to get the test kits out to the laboratories with the ability of the labs to actually do the tests. There is also confusion around other federal policies, like quarantines and travel restrictions;</p>
				  <p class="sm:text-1xl" > the Trump administration announced new rules in early February, but offered few details, leaving local officials scrambling to figure it out. San Antonio, Texas has even filed a lawsuit against the federal government over a disagreement in quarantine protocol.</p>
				  <p class="sm:text-1xl" > Among citizens, anxiety over the virus appears to be rising. Face masks and hand sanitizer have sold out in many places; one California woman told CNN she visited 15 stores over two days, only to find a single box of masks available.</p>
				  <br>
				
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Italy, Europe and the UK</h2>
				  <p class="sm:text-1xl" >The European outbreak first took hold in Italy, but has now spread across the continent. The European Union (EU) has raised the risk level from moderate to high, warning that every country needs to prepare for the outbreak.</p>
				  <p class="sm:text-1xl" >In Italy, where 79 people have died, cities and towns in the north have been placed under full or partial shutdown, effectively quarantining 100,000 people.</p>
				  <p class="sm:text-1xl" >Schools are suspended, public spaces like swimming pools or parks are closed, and major events closed to reduce the risk of infection.</p>
				  <p class="sm:text-1xl" >An Italian government task force is working around the clock to manage confirmed cases, oversee nationwide health procedures, and work with international agencies like the WHO and the European Center for Disease Prevention and Control.</p>
				  <p class="sm:text-1xl" >Elsewhere in the EU, deaths linked to the virus have been reported in France and Spain, which have nearly 400 cases combined.</p>
				  <p class="sm:text-1xl" >International travel restrictions have been put into place -- for instance, countries and airlines from the US to Kenya have suspended flights to Italy -- but EU borders remain open, with EU health ministers warning that border closures would be a "disproportionate and ineffective measure." EU member countries have come together for a broader coordinated response, with an EU task force that covers responses in the medical field, mobility and travel, and economic impact. The United Kingdom also formed a "battle plan" against the virus, and has rolled out virus testing across 12 labs nationwide. Nearly 14,000 people have been tested across the UK so far.</p>
				  <br>
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Asia-Pacific region</h2>
				  <p class="sm:text-1xl" >In Asia, the spotlight remains on South Korea, which has the largest number of patients outside mainland China. More than half of its 5,612 cases are linked to a branch of the Shincheonji religious group in the country's south.</p>
				  <p class="sm:text-1xl" >In response, South Korean President Moon Jae-in said on Tuesday that the country "has entered a war against" the coronavirus. The government has proposed an extra budget of about $9.8 billion in response and recovery, which will be submitted for approval on Thursday.</p>
				  <p class="sm:text-1xl" >Authorities have aggressively rolled out testing across the country, even setting up drive-through testing stations where people can get tested in minutes, all without leaving their cars.</p>
				  <p class="sm:text-1xl" >They have also employed creative technologies in this "war," like a GPS system that sets off an alarm when patients violate quarantine at home.</p>
				  <p class="sm:text-1xl" >In South Korea, and other places in Asia like Singapore and Hong Kong, there have been massive information campaigns to educate the public on basic but crucial preventative measures like washing hands, staying away from crowds, and not touching your face.</p>
				  <p class="sm:text-1xl" >Millions are still working from home across Asia, with both government departments and private companies implementing flexible or remote working arrangements for better social distancing. Events and public gatherings have been canceled for the same reason -- in Japan, the Rugby Sevens invitational tournament was canceled over coronavirus fears. Governments in these places have also had to address unexpected issues like panic buying, which saw toilet rolls and face masks sell out across supermarkets in Hong Kong.</p>
				  <p class="sm:text-1xl" >The same issue is now being seen in Australia, which announced additional cases this week after nearly a month of no new cases -- images from cities like Sydney and Brisbane show empty grocery store aisles and crowds jostling for products.</p>
				  <p class="sm:text-1xl" >In response, governments have urged people not to panic buy, and said that there was no threat to supply. Supermarkets have also imposed limits on how much shoppers can buy of items like toilet roll.</p>
				  
				  <br>
				  
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Iran and the Middle East</h2>
				
				  <p class="sm:text-1xl" >Iran is at the heart of the Middle East outbreak; the country has reported more than 2,300 cases and 77 deaths. Nearly 8% of the country's lawmakers have tested positive for the virus.</p>
				  <p class="sm:text-1xl" >Iran has mobilized a nationwide team of 300,000 health workers and specialists, its deputy health minister announced Tuesday. International experts from the WHO also landed in Tehran this week to work with health authorities and coordinate a response effort.</p>
				  <p class="sm:text-1xl" >Those trying to leave the city of Qom -- ground zero for Iran's outbreak -- will be quarantined if they have a fever and display symptoms of coronavirus, the government said Wednesday.</p>
				  <p class="sm:text-1xl" >Iran has also taken more unusual measures, like temporarily releasing more than 54,000 prisoners in an attempt to prevent the virus' spread.</p>
				  <p class="sm:text-1xl" >In the past two weeks alone, the virus has spread to about a dozen other Middle Eastern countries. Many countries have shut borders with Iran or imposed travel restrictions, while several including Qatar, Turkey, and Kuwait have ordered the evacuation of their citizens from Iran.</p>
				  <p class="sm:text-1xl" > Iraq has closed all schools, cinemas, cafes, and other public spaces for two weeks, and is banning its citizens from traveling to virus-hit countries like Iran, Kuwait, and Bahrain.</p>
				  
					<br>
					
		<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Africa and Latin America</h2>
		
				  <p class="sm:text-1xl" >Though there is no large outbreak of the virus in Africa or Latin America, several countries in those regions reported their first cases last week, raising concerns the virus may continue spreading.</p>
				  <p class="sm:text-1xl" >In Africa, cases have been confirmed in Egypt, Algeria, Nigeria, Senegal and Tunisia.</p>
				  <p class="sm:text-1xl" >After confirming the country's first case, Nigerian authorities expressed confidence in their ability to handle the outbreak, saying the West African Ebola outbreak had prepared the continent well. However, the WHO has warned  hat an outbreak could hit Africa much harder than it did China. There are obstacles that could complicate hygiene practices and virus containment; only 42% of Nigerians have access to soap and water on their premises, while 25% have no access to water at all.</p>
				  <p class="sm:text-1xl" >The continent is now preparing preventative measures, such the monitoring of entry points and border crossings by soldiers. Experts from the WHO have been sent to particularly vulnerable countries, and the agency is providing African laboratories with testing equipment, reagents for chemical analysis, and staff training.</p>
				  <p class="sm:text-1xl" >Meanwhile, in Latin America and the Caribbean, cases have been confirmed in Mexico, Argentina, Brazil, Chile, Ecuador, and the Dominican Republic.</p>
				  <p class="sm:text-1xl" >Similar to US states and cities, countries like Mexico, Guatemala and Panama have declared states of emergency or high-level alerts in preparation for a greater outbreak.</p>
				  <p class="sm:text-1xl" >Even countries with no confirmed cases aren't taking any chances -- Panama has dedicated $2.5 million for a virus response, launched a public information campaign, and is conducting training sessions for healthcare workers.</p>

      </div>
  </div>
</section>

{% endblock %}