{% extends "layout.html" %}
{% block body %}


<section class="text-black-900  body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div class="p-4 md:w-1/3">
        <h1 class="title-font text-lg font-medium text-black mb-3" style="color:#254117" >How it all started</h1>

          <iframe  class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.youtube.com/embed/8lCtKgBVGfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      </div>
      <div class="p-4 md:w-1/3">
        <h1 class="title-font text-lg font-medium text-black mb-3" style="color:#254117" >A global threat</h1>
          <iframe  class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.youtube.com/embed/efr2TKbdznM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="p-4 md:w-1/3">
        <h1 class="title-font text-lg font-medium text-black mb-3" style="color:#254117" >In India </h1>
          <iframe  class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.youtube.com/embed/_3POmFw8M-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>


      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://phil.cdc.gov//PHIL_Images/23311/23311_lores.jpg" alt="blog">
          <div class="p-6">
            <!--  <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>  -->
            <h1 class="title-font text-lg font-medium text-black mb-3" ><a    style="color:#254117"   href="/origin">Origin of Coronavirus</a></h1>
            <p class="leading-relaxed mb-3"   style="color:#321640"  >A novel coronavirus outbreak was first documented in Wuhan, Hubei Province, China in December 2019. Coronaviruses are a large family of zoonotic viruses that cause illness ranging from the common cold to severe respiratory diseases. Many health experts believe that the new strain of coronavirus likely originated in bats or pangolins. The virus has mostly spread through person-to-person contact.</p>
            <div class="flex items-center flex-wrap ">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/origin">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.europeanpharmaceuticalreview.com/wp-content/uploads/global-map-of-coronavirus-image-750x500.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/world">COVID-19 in World</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">More than 200 countries/regions have reported confirmed COVID-19 cases, including China, Italy, Iran, S. Korea, India, Switzerland, Taiwan, USA, Sweden, Singapore, Sri Lanka, France, Australia, Malaysia, Spain, United Arab Emirates, UK, Nepal, Finland, Netherlands, Japan, Belgium, Russia, Thailand, Philippines, Cambodia, and Germany. After hitting China in January 2020, COVID-19 severely out broke in countries like South Korea, Iran, and Italy in late February and early March, 2020.</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/world">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvNtyGpbL_iJnH0WRVxzLZWCEbDWwBSPYjsgRmdp8_PhW50Evh&usqp=CAU"alt="coronavirus">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/India">COVID-19 In India</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">On 30 January, India reported its first case of COVID-19 in Kerala. Over the month of March, multiple states across the country began shutting down schools, colleges, public facilities such as malls, gyms, cinema halls and other public places to contain the spread.  the Government of India announced complete lockdown in 82 districts in 22 states and Union Territories of country where confirmed cases were reported.</p>
            <div class="flex items-center flex-wrap ">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/India">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://scx2.b-cdn.net/gfx/news/hires/2020/statistics.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/evolution">Evolution</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">Scientists first identified a human coronavirus in 1965. It caused a common cold. Later that decade, researchers found a group of similar human and animal viruses and named them after their crown-like appearance.

Seven coronaviruses can infect humans. The one that causes SARS emerged in southern China in 2002 and quickly spread to 28 other countries. More than 8,000 people were infected by July 2003, and 774 died.</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/evolution">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://ars.els-cdn.com/content/image/1-s2.0-S246802491930172X-fx1.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/findings">Findings</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">You’re at high risk for contracting SARS-CoV-2 if you come into contact with someone who’s carrying it, especially if you’ve been exposed to their saliva or been near them when they’ve coughed, sneezed, or talked. Without taking proper preventive measures, you’re also at high risk if you
              live with someone who has contracted the virus, are providing home care for someone who has contracted the virus or have an intimate partner who has contracted the virus
          </p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/findings">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://english.cdn.zeenews.com/sites/default/files/styles/zm_700x400/public/2020/05/15/860924-corona-vaccine.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/research">Research and vaccine</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">Research is happening at breakneck speed. About 80 groups around the world are researching vaccines and some are now entering clinical trials.

The first human trial data appears positive showing the first eight patients all produced antibodies that could neutralise the virus.
In Oxford, the first human trial in Europe has started with more than 800 recruits and have signed a deal with AstraZeneca to supply 100 million doses (30 million for the UK) if it works</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/research">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://ichef.bbci.co.uk/news/410/cpsprodpb/73C1/production/_112333692_coronavirus_key_symptoms_uk_v2_640-nc.png" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3" ><a style="color:#254117" href="/symptoms">Symptoms</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">Signs and symptoms of coronavirus disease 2019 (COVID-19) may appear two to 14 days after exposure. This time after exposure and before having symptoms is called the incubation period. Common signs and symptoms can include: </p>
          <li > Fever </li>
          <li > Cough </li>
          <li > Tiredness </li>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/symptoms">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://media.springernature.com/relative-r300-703_m1050/springer-static/image/art%3A10.1038%2Fs41564-020-0695-z/MediaObjects/41564_2020_695_Figa_HTML.png" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/types">Types of coronaviruses</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640"> A coronavirus gets its name from the way it looks under a microscope.

The word corona means “crown.”

When examined closely, the round virus has a “crown” of proteins called peplomers jutting out from its center in every direction. These proteins help the virus identify whether it can infect its host.</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/types">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://m.economictimes.com/thumb/msid-74859029,width-1200,height-900,resizemode-4,imgsize-109260/cos.jpg" alt="blog">
          <div class="p-6">
            <h1 class="title-font text-lg font-medium text-black mb-3"><a style="color:#254117" href="/outlook">Outlook</a></h1>
            <p class="leading-relaxed mb-3" style="color:#321640">First and foremost, don’t panic. You don’t need to be quarantined unless you suspect you have contracted the virus or have a confirmed test result.

Following simple handwashing and physical distancing guidelines are the best ways to help protect yourself from being exposed to the virus.

The 2019 coronavirus probably seems scary when you read the news about new deaths, quarantines, and travel bans.</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/outlook">Full Article
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}