<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>The Pandemic</title>
</head>
<body>


<header class="text-gray-100 bg-gray-800 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <span ><a class="ml-3 text-xl" href="/">The Pandemic</a></span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" href="/">Home</a>
      <a class="mr-5 hover:text-white" href="/help">Help</a>
      <a class="mr-5 hover:text-white" href="https://www.shopclues.com/hands-feet-sanitizer.html">Shop</a>
      <a class="mr-5 hover:text-white" href="https://api.whatsapp.com/send?phone=919013353535&text=Hi&source=&data=&app_absent=">Helpdesk </a>
      <a class="mr-5 hover:text-white" href="https://www.pmcares.gov.in/en/web/contribution/donate_india">PM CARES </a>
      <a class="mr-5 hover:text-white" href="https://www.mygov.in/aarogya-setu-app/">Aarogya Setu</a>

    </nav>
  </div>
</header>

{% block body %} {% endblock %}

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<footer class="text-gray-500 body-font">

<div class="elfsight-app-1d4640c5-4d71-45c3-8869-96f9fa5ca169"></div>
  <div class="bg-gray-800">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">

      <p class="text-gray-600 text-sm text-center sm:text-left">© 2020 The Pandemic —
        <a href="" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">@the_pandemic</a>

      </p>

      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">

          <br><p>  Developers: </p><br>
          <a href="https://www.linkedin.com/in/deepam-jauhari-a54136170/" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">Deepam Jauhari </a>

          <a href="https://www.linkedin.com/in/nitin-kumar-singh-87ba771ab/" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">and Nitin Singh</a>
      </span>
    </div>
  </div>
</footer>


</body>
</html>