{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
      <h2 class="sm:text-4xl text-2xl title-font font-medium text-black  ">Origin</h2>
        <p class="sm:text-1xl" >A novel coronavirus outbreak was first documented in Wuhan, Hubei Province, China in December 2019.
Coronaviruses are a large family of zoonotic viruses that cause illness ranging from the common cold to severe respiratory diseases.
Many health experts believe that the new strain of coronavirus likely originated in bats or pangolins. the virus has mostly spread through person-to-person contact
Coronaviruses are a big family of different viruses.
Some of them cause the common cold in people. Others infect animals, including bats, camels, and cattle. But how did SARS-CoV-2,
the new coronavirus that causes COVID-19.</p><br>


          <p class="sm:text-1xl" >Experts say SARS-CoV-2 originated in bats. That’s also how the coronaviruses behind Middle East respiratory syndrome (MERS) and severe acute respiratory syndrome (SARS) got started.
SARS-CoV-2 made the jump to humans at one of Wuhan’s open-air “wet markets.” They’re where customers buy fresh meat and fish, including animals that are killed on the spot.
Some wet markets sell wild or banned species like cobras, wild boars, and raccoon dogs. Crowded conditions can let viruses from different animals swap genes.
Sometimes the virus changes so much it can start to infect and spread among people.
Still, the Wuhan market didn’t sell bats at the time of the outbreak. </p><br>


          <p class="sm:text-1xl" >That’s why early suspicion also fell on pangolins, also called scaly anteaters, which are sold illegally in some markets in China.
Some coronaviruses that infect pangolins are similar to SARS-CoV-2.
As SARS-CoV-2 spread both inside and outside China, it infected people who have had no direct contact with animals.
That meant the virus is transmitted from one human to another. It’s now spreading in the U.S. and around the globe, meaning that people are unwittingly catching and passing on the coronavirus.
This growing worldwide transmission is what is now a pandemic.</p>

			<br><br>
			<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Histroy Of Coronavirus</h2>
			<p class="sm:text-1xl" >The history of human coronaviruses began in 1965 when Tyrrell and Bynoe1 found that they could passage a virus named B814. It was found in human embryonic tracheal organ cultures obtained from the respiratory tract of an adult with a common cold.</p><br>
<p class="sm:text-1xl" > It was found in human embryonic tracheal organ cultures obtained from the respiratory tract of an adult with a common cold. The presence of an infectious agent was demonstrated by inoculating the medium from these cultures intranasally in human volunteers;</p><br>
<p class="sm:text-1xl" >colds were produced in a significant proportion of subjects, but Tyrrell and Bynoe were unable to grow the agent in tissue culture at that time. At about the same time, Hamre and Procknow2 were able to grow a virus with unusual properties in tissue culture from samples obtained from medical students with colds.
Both B814 and Hamre's virus, which she called 229E, were ether-sensitive and therefore presumably required a lipid-containing coat for infectivity, but these 2 viruses were not related to any known myxo- or paramyxoviruses. While working in the laboratory of Robert Chanock at the National Institutes of Health, McIntosh et al3 reported the recovery of multiple strains of ether-sensitive agents from the human respiratory tract by using a technique similar to that of Tyrrell and Bynoe. These viruses were termed “OC” to designate that they were grown in organ cultures.</p>
			<br><br>
<h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Coronavirus Evolution</h2>


          <p class="sm:text-1xl" >Scientists first identified a human coronavirus in 1965. It caused a common cold.
Later that decade, researchers found a group of similar human and animal viruses and named them after their crown-like appearance.
Seven coronaviruses can infect humans. The one that causes SARS emerged in southern China in 2002 and quickly spread to 28 other countries.
More than 8,000 people were infected by July 2003, and 774 died. A small outbreak in 2004 involved only four more cases.
This coronavirus causes fever, headache, and respiratory problems such as cough and shortness of breath.
MERS started in Saudi Arabia in 2012. Almost all of the nearly 2,500 cases have been in people who live in or travel to the Middle East.
This coronavirus is less contagious than its SARS cousin but more deadly, killing 858 people. It has the same respiratory symptoms but can also cause kidney failure.</p>


      </div>
  </div>
</section>

{% endblock %}