{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-black mt-4 mb-4">What’s the outlook?</h2>
        <p class="leading-relaxed mb-8">
            First and foremost, don’t panic. You don’t need to be quarantined unless you suspect you have contracted the virus or have a confirmed test result.

Following simple handwashing and physical distancing guidelines are the best ways to help protect yourself from being exposed to the virus.

The 2019 coronavirus probably seems scary when you read the news about new deaths, quarantines, and travel bans.

Stay calm and follow your doctor’s instructions if you’re diagnosed with COVID-19 so you can recover and help prevent it from being transmitted.
        </p>
      <br>
      </div>
  </div>
</section>

{% endblock %}