{% extends "layout.html" %}
{% block body %}

<section class="text-black-900  body-font">
  <div class="container px-5 py-5 mx-auto">
      <div class="p-20">
        <h2 class="sm:text-4xl text-2xl title-font font-medium text-black  ">Symptoms</h2>
        <p class="sm:text-1xl" >Signs and symptoms of coronavirus disease 2019 (COVID-19) may appear two to 14 days after exposure. This time after exposure and before having symptoms is called the incubation period. Common signs and symptoms can include:
          <li > Fever </li>
          <li > Cough </li>
          <li > Tiredness </li>
          <li>Shortness of breath or difficulty breathing</li>
          <li>Muscle aches</li>
          <li>Chills</li>
          <li>Sore throat</li>
          <li>Loss of taste or smell</li>
          <li>Headache</li>
          <li>Chest pain</li>
          <br>
          <p class="sm:text-1xl" >This list is not all inclusive. Other less common symptoms have been reported, such as rash, nausea, vomiting and diarrhea. Children have similar symptoms to adults and generally have mild illness</p>
          <br>
          <p class="sm:text-1xl" >The severity of COVID-19 symptoms can range from very mild to severe. Some people may have only a few symptoms, and some people may have no symptoms at all. People who are older or who have existing chronic medical conditions, such as heart disease, lung disease, diabetes, severe obesity, chronic kidney or liver disease, or who have compromised immune systems may be at higher risk of serious illness. This is similar to what is seen with other respiratory illnesses, such as influenza.</p>
          <br>
          <p class="sm:text-1xl">Some people may experience worsened symptoms, such as worsened shortness of breath and pneumonia, about a week after symptoms start.</p>
          <br><br>
         <h2 class="sm:text-3xl text-2xl title-font font-medium text-black">When to see a doctor</h2>
          <p class="sm:text-1xl">If you have COVID-19 symptoms or you've been in contact with someone diagnosed with COVID-19, contact your doctor or clinic right away for medical advice. Tell your health care team about your symptoms and possible exposure before you go to your appointment.</p>
          <br>
          <p class="sm:text-1xl">If you have emergency COVID-19 signs and symptoms, seek care immediately. Emergency signs and symptoms can include:</p>
            <li>Trouble breathing</li>
          <li>Persistent chest pain or pressure</li>
          <li>Inability to stay awake</li>
          <li>New confusion</li>
          <li>Blue lips or face</li>
          <br>
          <p class="sm:text-1xl">If you have signs or symptoms of COVID-19, contact your doctor or clinic for guidance. Let your doctor know if you have other chronic medical conditions, such as heart disease or lung disease. During the pandemic, it's important to make sure health care is available for those in greatest need.</p>
          <br><br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black  ">Causes</h2>
          <p class="sm:text-1xl">Infection with the new coronavirus (severe acute respiratory syndrome coronavirus 2, or SARS-CoV-2) causes coronavirus disease 2019 (COVID-19).</p>
          <br>
          <p class="sm:text-1xl">The virus appears to spread easily among people, and more continues to be discovered over time about how it spreads. Data has shown that it spreads from person to person among those in close contact (within about 6 feet, or 2 meters). The virus spreads by respiratory droplets released when someone with the virus coughs, sneezes or talks. These droplets can be inhaled or land in the mouth or nose of a person nearby.</p>
          <br>
          <p class="sm:text-1xl">It can also spread if a person touches a surface with the virus on it and then touches his or her mouth, nose or eyes, although this isn't considered to be a main way it spreads.</p>
            <br><br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black">Risk factors</h2>
          <p class="sm:text-1xl">Risk factors for COVID-19 appear to include:</p>
          <li>Recent travel from or residence in an area with ongoing community spread of COVID-19 as determined by CDC or WHO</li>
          <li>Close contact (within 6 feet, or 2 meters) with someone who has COVID-19 for more than 5 minutes or being coughed or sneezed on by an infected person</li>
          <br><br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black">Complications</h2>
          <p class="sm:text-1xl">Although most people with COVID-19 have mild to moderate symptoms, the disease can cause severe medical complications and lead to death in some people. Older adults or people with existing chronic medical conditions are at greater risk of becoming seriously ill with COVID-19.</p>
           <br>
          <p class="sm:text-1xl">Complications can include:</p>
          <li>Pneumonia and trouble breathing</li>
          <li>Organ failure in several organs</li>
          <li>Heart problems</li>
          <li>A severe lung condition that causes a low amount of oxygen to go through your bloodstream to your organs (acute respiratory distress syndrome)</li>
          <li>Blood clots</li>
          <li>Acute kidney injury</li>
          <li>Additional viral and bacterial infections</li>

          <br><br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black">Prevention</h2>
          <p class="sm:text-1xl">Although there is no vaccine available to prevent COVID-19, you can take steps to reduce your risk of infection. WHO and CDC recommend following these precautions for avoiding COVID-19:</p>
            <br>

<li>Avoid large events and mass gatherings.</li>
<li>Avoid close contact (within about 6 feet, or 2 meters) with anyone who is sick or has symptoms.</li>
<li>Stay home as much as possible and keep distance between yourself and others (within about 6 feet, or 2 meters), especially if you have a higher risk of serious illness. Keep in mind some people may have COVID-19 and spread it to others, even if they don't have symptoms or don't know they have <abbr title="coronavirus disease 2019">COVID-19</abbr>.</li>
<li>Wash your hands often with soap and water for at least 20 seconds, or use an alcohol-based hand sanitizer that contains at least 60% alcohol.</li>
<li>Cover your face with a cloth face mask in public spaces, such as the grocery store, where it's difficult to avoid close contact with others, especially if you're in an area with ongoing community spread. Only use nonmedical cloth masks &mdash; surgical masks and N95 respirators should be reserved for health care providers.</li>
<li>Cover your mouth and nose with your elbow or a tissue when you cough or sneeze. Throw away the used tissue. Wash your hands right away.</li>
<li>Avoid touching your eyes, nose and mouth.</li>
<li>Avoid sharing dishes, glasses, towels, bedding  and other household items if you're sick.</li>
<li>Clean and disinfect high-touch surfaces, such as doorknobs, light switches, electronics and counters, daily.</li>
<li>Stay home from work, school and public areas if you're sick, unless you're going to get medical care. Avoid public transportation, taxis and ride-sharing if you're sick.</li>
          <br>
          <p class="sm:text-1xl">If you have a chronic medical condition and may have a higher risk of serious illness, check with your doctor about other ways to protect yourself.</p>
          <br><br>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-black">Travel</h2>
          <p class="sm:text-1xl">If you're planning to travel, first check the CDC and WHO websites for updates and advice. Also look for any health advisories that may be in place where you plan to travel. You may also want to talk with your doctor if you have health conditions that make you more susceptible to respiratory infections and complications.</p>



      </div>


  </div>
</section>

{% endblock %}